.edit-btn , .delete-btn{
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: 1.0rem;
  margin: 0 0.10rem;
  transition: all 0.3s linear;
}

.alert-danger{
  color:#721c24;
  background-color:#f8d7da;
}
.alert-success{
  color:#155724;
  background-color:#d4edda;
}

.edit-btn{
  color: lightgreen;
}
.delete-btn{
  color: red;
}


.section{
  padding: 5rem 0;
}
.section-center{
  width: 90vw;
  margin: 0 auto;
  max-width: 35rem;
  margin-top: 8rem;
}
.section-center{
  background: white;
  border-radius: 0.25rem;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: all 0.3s linear;
  padding: 2rem;
}
.form{
  display: flex;
  justify-content: center;
}