.edit-btn , .delete-btn{
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    font-size: 1.0rem;
    margin: 0 0.10rem;
    transition: all 0.3s linear;
}

.edit-btn{
    color: lightgreen;
}
.delete-btn{
    color: red;
}